<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>518346248968-ln8eu6p9sidtgv33p3dh8agl1cn6ltl6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.518346248968-ln8eu6p9sidtgv33p3dh8agl1cn6ltl6</string>
	<key>API_KEY</key>
	<string>AIzaSyChhjOvzgMwxjYy7RZbkk2kBMwrhcLLomY</string>
	<key>GCM_SENDER_ID</key>
	<string>518346248968</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.williamDam.osuGraduationApp</string>
	<key>PROJECT_ID</key>
	<string>osu-graduation</string>
	<key>STORAGE_BUCKET</key>
	<string>osu-graduation.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:518346248968:ios:8b14fe8eb946fb263792bd</string>
</dict>
</plist>